*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: auto;
}


.scroll_top{
  width: 35px;
  opacity: 0;
  transition: all 1s ease;
}

.scroll_top.active{
  opacity: .7;
  width: 6.5%;
  min-width: 45px;
  max-width: 50px;
  position: fixed;
  right: 5%;
  bottom: 5%;
  cursor: pointer;
  transition: all 1s ease;
  background: rgb(7, 225, 233);
  border-radius: 10px;
  padding: 2px;
  z-index: 5;
}

@media (hover: hover) and (pointer: fine) {
  .scroll_top.active:hover{
    opacity: 1;
    transform: scale(1.1);
  }
}

.navbar{
  background:black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2.5%;
  position: relative;
}

.logo_container, .menu_icon{
  display: flex;
  align-items: center;
  height: 35px;
}

#airplane{
  width: 17.5px;
  margin-left: 2.5px;
}

.navbar_logo{
  display: flex;
  align-items: center;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
}

.navbar_logo span{
  color: greenyellow;
}

.menu_icon img{
  width: 25px;
  height: 22.5px;
  cursor: pointer;
}

.menu_container{
  width: 100%;
  position: absolute;
  top: 55px;
  left: -100%;
  transition: all 0.8s ease;
  opacity: 0;
  display: block;
  z-index: 5;
}

.menu_container_active{
  width: 100%;
  position: absolute;
  top: 55px;
  left: 0px;
  transition: all 0.8s ease;
  opacity: 1;
  display: block;
  z-index: 5;
}

.nav_menu{
  width: 100%;
  background: rgb(46, 46, 46);
  display: block;
  list-style: none;
  padding: 10px;
}

.nav_menu .nav_item, .nav_menu.active .nav_item{
  width: 70%;
  margin: 0px auto;
  height: 30px;
  cursor: pointer;
  color: black;
}

.nav_menu .nav_item .nav_links, .nav_menu.active .nav_item .nav_links, .dropdown_link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.americas_highlight{
  width: 100%;
}

@media (hover: hover) and (pointer: fine) {
  .nav_menu.active .nav_item:hover .nav_links, .americas_highlight:hover, .americas_highlight:hover a{
    background: rgb(145, 145, 145);
    border-radius: 5px;
  }
}

.nav_links{
  color: white;
  text-decoration: none;
}

#dropdown_arrow{
  position:absolute;
  right:15%;
  top:10.5px;
  display:flex; 
  align-items:center;
  width: 15px;
  height: 7.5px;
  cursor: pointer;
}

.americas_link{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center;
  position:relative;
  width: 70%;
  margin: 0px auto;
  line-height: 30px;
  cursor: pointer;
}


.americas{
  transition: all .5s ease;
  display: block;
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
}

.americas_active{
  transition: all .5s ease;
  flex-basis: 100%;
  display: block;
  list-style: none;
  opacity: 1;
  overflow: hidden;
  max-height: 60px;
}

.americas_active li, .americas li{
  display: block;
  width: 100%;
}

.americas_active li .nav_links, .americas li .nav_links{
  display: block;
  width: 100%;
  font-size: 12.5px;
  text-transform: uppercase;
  text-align: center;
}

@media (hover: hover) and (pointer: fine) {
  .americas_active li .nav_links:hover{
    background:  rgb(145, 145, 145);
    border-radius: 2.5px;
  }
}

/* ************MEDIA QUERIES**************** */
@media screen and (min-width: 650px){
  .menu_container{
    width: unset;
    position: static;
    display: flex;
    align-items: center;
    opacity: 1;
    height: 35px;
    padding: 0px;
    background:black;
  }



  .nav_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin-left: 0px;
    background:black;
  }

  .nav_menu .nav_item, .americas_link{
    width: unset;
    padding: 0px;
    height: 30px;
    border-radius: 5px;
  }

  .nav_menu .nav_item{
    padding: 5px;
    margin-left: 2.5vw;
  }


  .americas_link{
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-left: 2.5vw;
    padding: 0px;
  }
  

  .americas_highlight{
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 0px;
  }

  @media (hover: hover) and (pointer: fine) {
    .nav_menu li .nav_links:hover, .americas_highlight:hover a{
      color: greenyellow;
      border-radius: 0px;
    }
  }
  @media (hover: hover) and (pointer: fine) {
    .americas_highlight:hover, .americas_highlight:hover a{
      background:black;
    }
  }

  .menu_icon{
    display: none;
  }

  #dropdown_arrow{
    right: 1px;
    width: 16px;
    height: 8.5px;
    cursor: pointer;
  }

  .dropdown_link{
    width: unset;
    padding: 0px 5px;
    padding-right: 21px;
  }

  .americas{
    transition: all 0s ease;
    display: block;
    position: absolute;
    width: 125px;
    top: 42.5px;
    height: 0px;
    opacity: 1;
    background: black;
    z-index: 2;
  }

  
  .americas_active{
    transition: all .35s ease;
    display: block;
    position: absolute;
    width: 125px;
    top: 42.5px;
    left: -7px;
    text-align: left;
    border-radius: 0px 0px 5px 5px;
    height: 60px;
    z-index: 2;
  }

  .americas_active li{
    width: 100%;
    margin-left: 0px;
    padding: 0px;
  }
  .americas_active li .nav_links{
    width: 100%;
    background: black;
    color: white;
    border: 1px solid black;
    display: block;
    margin-left: 0px;
    font-size: 12px;
    padding: 0px;
  }

  @media (hover: hover) and (pointer: fine) {
    .americas_link li .nav_links:hover{
      color: greenyellow;
      background: black;
      border-radius: 0px;
    }
  }
}

@media screen and (min-width:655px){
  .americas{
    transition: all .05s ease;
  }
}

/* *****************FOOTER**************************** */

.footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 35px 5%;
  background: black;
  color: white;
}

.footer h3{
  width: 90%;
}

.footer p{
  margin: 10px auto;
  margin-bottom: 0px;

}

.newsletter{
  margin: 10px auto;
}

.newsletter input{
  height: 25px;
  border: none;
  outline: none;
  text-indent: 10px;
  -webkit-appearance: none;
  border-radius: 0px;
}

#email_submit{
  background: rgb(7, 97, 233);
  color: white;
  border: none;
  outline: none;
  padding: 0px 5px;
  text-indent: 0px;
}

.footer_nav{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer_nav a{
  margin: 10px 1.5%;
  margin-bottom: 0px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

@media (hover: hover) and (pointer: fine) {
  .footer_nav a:hover{
    color: greenyellow;
  }
}





/* **************PAGES********************** */

.slow_scroll_arrow{
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  text-align: center;
  bottom: 12.5%;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  z-index: 3;
  padding: 20px;
  pointer-events: none;
}

@media screen and (min-width: 500px){
  .slow_scroll_arrow{
    bottom: 30px;
    pointer-events: all;
  }
}


.slow_scroll_arrow img{
  text-align: center;
  width: 30%;
  min-width: 85px;
  max-width: 300px;
  height: 30px;
  cursor: pointer;
  transition: all .25s ease;
}

@media (hover: hover) and (pointer: fine) {
  .slow_scroll_arrow img:hover{
    transform: scale(1.2)
  }
}

.topImageStyle{
  width:100%;
  height:100%;
}

.imageContainerStyle{
  position: relative;
  width: 100%;
  height: calc(100vh - 55px);
}

.imageContainerStyle:after{
  content:"";
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  z-index:1;
}

.pageTitleStyle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 2.5%;
  text-align: center;
  color: white;
  z-index: 3;
  font-size: 50px;
  text-shadow: 2px 2px black;
}

@media screen and (min-width: 300px){
  .pageTitleStyle{
    font-size: 70px;
  }
}


.continents_container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.continent{
  width:100%;
  text-align: center;
  margin: 50px auto;
}

.continent h2{
  font-size: 32.5px;
}

.continent img{
  width: 200px;
  height: 200px;
  margin: 10px;
}

.continent button{
  display: block;
  margin: 5px auto;
  padding: 7.5px;
  outline: none;
  border: none;
  color: greenyellow;
  border-radius: 5px;
  background: black;
  cursor: pointer;
  font-size: 20px;
}

@media (hover: hover) and (pointer: fine) {
  .continent button:hover{
    background: greenyellow;
    color: black;
  }
}

@media screen and (min-width:500px){
  .continent{
    width: 50%;
    margin: 20px auto;
  }
}
@media screen and (min-width:900px){
  .continents_container{
    width: 90%;
    margin: 0px auto;
    margin-bottom: 120px;
  }

  .continent img{
    width: 275px;
    height: 275px;
  }
}



/* ###MODAL##### */

.home_modal{
  display: none;
}

.home_modal.active{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 6;
  background: rgba(0, 0, 0, 0.92);
}

.modal_relative_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.exit_modal{
  display: none;
}

.exit_modal.active{
  position: fixed;
  display: inherit;
  top: 2.5%;
  right: 2.5%;
  width: 30px;
  cursor: pointer;
  z-index: 7;
}

.continent_preview{
  background: white;
  padding: 30px 15px;
  width: 70%;
  margin: 0px auto;
  min-width: 270px;
  max-width: 500px;
  text-align: center;
  border-radius: 5px;
}

.continent_preview h2{
  margin-bottom: 10px;
}

.continent_preview img{
  width: 100%;
  height: 200px;
}

.continent_preview p{
  text-align: left;
  text-indent: 15px; 
  margin: 10px auto;
}

#see_more{
  padding: 7.5px;
  font-size: 20px;
  background: black;
  color: greenyellow;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  #see_more:hover{
    background: greenyellow;
    color: black;
  }
}

.popular_destinations{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 35px;
}

.destinations_container{
  display: flex;
  width: 100%;
  margin: 0px auto;
  max-width: 1200px;
  flex-wrap: wrap;
}

.destination{
  width: 90%;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(78, 78, 78);
  overflow: hidden;
}

.destination p{
  font-size: 15px;
  font-weight: bolder;
  padding: 12.5px ;
}

.dest_img_container{
  overflow: hidden;
  height: 275px;
}

.dest_img_container img{
  width: 100%;
  margin: 0px auto;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
  transition: all .75s ease;
}

@media (hover: hover) and (pointer: fine) {
  .destination img:hover{
    transform: scale(1.15);
  }
}

.photos_sent{
  text-align: center;
  margin-top: 75px;
  font-size: 25px;
  padding: 0px 5px;
}

@media screen and (min-width:650px){
  .destination{
    width: 46.5%;
  }

  .dest_img_container{
    height: 250px;
  }
}
@media screen and (min-width:900px){
  .dest_img_container{
    width: 100%;
    height: 325px;
  }
}


/* ***************SLIDER******************** */

.slider{
  position: relative;
  width: 90%;
  max-width: 700px;
  margin: 20px auto;
  margin-bottom: 10px;
  height: 250px;
}

.slide_container{
  width: 90%;
  max-width: 700px;
  height: 100%;
  margin: 0px auto;
  display: flex;
  overflow: hidden;
  border-radius: 5px;
}

.slide{
  min-width: 100%;
  text-align: center;
  height: 100%;
  transition: all .5s ease;
  border-radius: 5px;
}

#goLeft{
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%) rotate(180deg);
  width: 5%;
  height: 80%;
  color: white;
  background: black;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  border: none;
}

#goRight{
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 5%;
  height: 80%;
  color: white;
  background: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  border: none;
}

@media (hover: hover) and (pointer: fine) {
  #goRight:hover, #goLeft:hover{
    opacity: 1;
  }
}

.featured{
  text-align: center;
  margin-bottom: 120px;
  padding: 0px 5px;
}


@media screen and (min-width: 400px){
  .slider{
    height: 300px;
  }
}

@media screen and (min-width: 650px){
  .slider{
    height: 400px;
  }
}